<p id="notice"><%= notice %></p>

<h3>Title:</h3>
<%= @post.name %>
<h3>Content:</h3>
<%= @post.content %>
<h3>Tags:</h3>
<ul>
  <% @post.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<ol>
  <% @post.comments.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
</ol>

<form action="/comments/<%= @post.id %>" method="POST">
  <input type="text" id="Content" name="comment[content]">
  <input type="submit" value="Create Comment">
</form>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
